@font-face {
    font-family: 'RubikMonoOne', sans-serif;
    src: url('../fonts/RubikMonoOne-Regular.woff2') format('woff2');
    font-display: swap;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    /* outline: 1px solid green !important; */
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'RubikMonoOne', sans-serif;
}